body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

.header {
    background:  #27273e;
    width: 1100px;
    margin: 0 auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header__container {
    position: relative;
    height: 77px;
}

.logo {
    position: absolute;
    top: 13px;
    left: 19px;
    bottom: 13px;
}

.contacts {
    position: absolute;
    top: 22px;
    right: 21px;
    bottom: 17px;
    text-align: right;
}
.contacts__phone {
    color: white;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}

.contacts__time {
    color: #ec1e79;
    opacity: 0.7;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: underline;

}
